<body>
  <div class="container">
    <div class="row ml-4">
      <div class="col-sm pt-5">
        <div id="box-center" >
          <h2 class="titulo">FAÇA AGORA SEU</h2>
          <h2 class="titulo ml-2">PRÉ CADASTRO!</h2>
        </div>
      </div>
      <div class="col-sm ml-5 ">
        <form [formGroup]='signupForm'>
          <div class=" " >
            <div class="form-group ml-5 col-md-10 pt-5 rounded ">
              <label for="nome"> Seu Nome</label>
              <input 
              formControlName="name"
              type="text" 
              class="form-control form-control-sm " 
              id="nome" 
              placeholder="Digite seu nome aqui"
              autofocus
              >
            <small
              *ngIf="signupForm.get('name').errors?.required"
              class="text-danger d-block mt-2" >
              Name is required!
            </small>
            </div>
            <div class="form-group ml-5 col-md-10 pt-3 rounded">
              <label for= "telefone"> Telefone</label>
              <input
                formControlName="telephone" 
                type="tel" 
                class="form-control form-control-sm " 
                id="telefone"
                pattern="[\(]\d{2}[\)]\d{4}[\-]\d{4}"
                placeholder="Digite seu telefone aqui"
                autofocus
              >
              <small
                *ngIf="signupForm.get('telephone').errors?.required"
                class="text-danger d-block mt-2">
                Telephone is required!
              </small>
            </div>
            <div class="form-group ml-5 col-md-10 pt-3">
              <label for= "email"> Seu Email</label>
              <input
                formControlName="email"
                type="email" 
                class="form-control form-control-sm rounded" 
                id="email" 
                placeholder="Digite seu email aqui"
                autofocus
              >
              <small
                *ngIf="signupForm.get('email').errors?.required" 
                class="text-danger d-block mt-2">
                E-mail is required!
              </small>
            </div>
          </div>
          <div id="bt-center">
            <button
              [disabled]="signupForm.invalid" 
              type="submit" 
              class="btn btn-primary btn-sm mt-3 mb-5 ">ENVIAR
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>