/* AS FONTES AGORA SE ENCONTRAM NO ARQUIVO src/styles.css */

body {
    background: #4D4D4D;
    /* PS: eu alterei a cor aq kkkkk */
}

.titulo {
    font-family: DecoturaICG;
    color: white;
    font-size: 54pt;
    text-shadow: #000 6px 4px 2px
}

form label {
    color: white;
    font-family: ErasBold;
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: .0rem;
}

::placeholder {
    font-family: ErasMedium;
    font-size: 13pt;
}

#box-center {
    align-content: center;
    margin-top: 80px;
}

input {
    margin-top: 1px;
    font-size: 17pt;
}

#bt-center {
    text-align: center;
}

button {
    border-radius: 10px;
    background: #00062f;
    border-color: #00FFFF;
    color: white;
    border-width: 3px 5px 3px 5px;
    font-family: ErasDemiITC;
    font-size: 14pt;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.1s;
}

button:hover:enabled {
    color: white;
    box-shadow: 1px 1px 9px 1px #00FFFF;
}

button:hover:disabled {
    color: white;
}

button:active:enabled {
    color: white;
    background: #000616;
}

.rounded {
    border-radius: 500%;
}