/* AS FONTES AGORA SE ENCONTRAM NO ARQUIVO src/styles.css */

body{
    background: #4D4D4D; /* PS: eu alterei a cor aq kkkkk */
}

.titulo{
    font-family: DecoturaICG;
    color: white;
    font-size: 74pt;
}

form label{
    color: white;
    font-family: ErasDemiITC;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: .0rem;  
}

#box-center{
    margin-top: 130px;
}

input{
    margin-top: 1px;
    font-size: 17pt;
}

#bt-center{
    text-align: center;
}

button{
    border-radius: 10px;
    background: #00062f;
    border-color: #6effd8;
    border-width: 2px 5px 2px 5px;
    font-size: 14pt;
    padding-left: 50px;
    padding-right: 50px;
    
}
