.custom-jumbotron{
 
   background: url('/assets/Background_2.png') no-repeat center;
   background-size: cover;
   display: flex;
   align-items: flex-end;
   height: 76vh; 
   justify-content: center; 

}
.texto{
    margin-bottom: 20vh;
}
.texto  h1{
    color:#2971ff;
    text-align:center;
    font-size: 129.9pt; 
    font-family:  DecoturaICG;
}
.texto h2{
    color:white ;
    text-align:center;
    font-size: 19px;
    font-family:  'Eras Medium ITC';
    margin-bottom: 96px;

}
.botao-jumb{
    text-align:center;
    color: #00062f;
}
.botao-jumb > button{
    border: 2px solid blue ;
    border-radius: 5px;
    border-width: 5px 8px;
    background-color: #4CAF50;
    padding:1.5vh;
}



