<div>
    <body class="gradiente">
        <h1 class="Titulo">DESCUBRA NOVAS HABILIDADES EXPLORANDO NOSSAS TRIBOS</h1>
        <app-list-tribes></app-list-tribes>
        <app-carousel-tribes></app-carousel-tribes>

        <div class="container">
            <div class="row">
              <div class="col-sm">
                <img src="\assets\images\icons\icone-1.svg">
              </div>
              <div class="col-sm">
                <img src="\assets\images\icons\icone-2.svg">
              </div>
              <div class="col-sm">
                <img src="\assets\images\icons\icone-3.svg">
              </div>
              <div class="col-sm">
                <img src="\assets\images\icons\icone-4.svg">
              </div>
              <div class="col-sm">
                <img src="\assets\images\icons\icone-5.svg">
              </div>
              <div class="col-sm">
                <img src="\assets\images\icons\icone-6.svg">
              </div>
              <div class="col-sm">
                <img src="\assets\images\icons\icone-7.svg">
              </div>
            </div>
          </div>
    </body> 

  </div>