<body class="gradiente p-1 pb-5">
    <h1 class="Titulo">DESCUBRA NOVAS HABILIDADES EXPLORANDO NOSSAS TRIBOS</h1>

    <div class="container">

        <div class="d-flex pt-4 mt-5 pb-4 mb-4 " style="padding-left: 40px;">
            <div class="p-2 flex-fill">
                <div [@openClose]="open[1] ? 'open' : 'closed'" class="circle" (click) = "getSlideId('1')">
                    <img src="\assets\images\icons\icone-1.svg">
                </div>
            </div>

            <div class="p-2 flex-fill ">
                <div [@openClose]="open[2] ? 'open' : 'closed'" class="circle" (click) = "getSlideId('2')">
                    <img class="img-special" src="\assets\images\icons\icone-2.svg">
                </div>
            </div>

            <div class="p-2 flex-fill">
                <div [@openClose]="open[3] ? 'open' : 'closed'" class="circle" (click) = "getSlideId('3')">
                    <img class="img-special" src="\assets\images\icons\icone-3.svg">
                </div>
            </div>

            <div class="p-2 flex-fill">
                <div [@openClose]="open[4] ? 'open' : 'closed'" class="circle" (click) = "getSlideId('4');">
                    <img src="\assets\images\icons\icone-4.svg">
                </div>
            </div>

            <div class="p-2 flex-fill">
                <div [@openClose]="open[5] ? 'open' : 'closed'" class="circle" (click) = "getSlideId('5')">
                    <img src="\assets\images\icons\icone-5.svg">
                </div>
            </div>

            <div class="p-2 flex-fill">
                <div [@openClose]="open[6] ? 'open' : 'closed'" class="circle" (click) = "getSlideId('6')">
                    <img class="img-special" src="\assets\images\icons\icone-6.svg">
                </div>
            </div>

            <div class="p-2 flex-fill">
                <div [@openClose]="open[7] ? 'open' : 'closed'" class="circle" (click) = "getSlideId('7')">
                    <img src="\assets\images\icons\icone-7.svg">
                </div>

            </div>
        </div>
        <div style="align-self: center;">
            <app-carousel-tribes></app-carousel-tribes>
        </div>
    </div>
</body>