<ngb-carousel class="container mb-4">
  <ng-template ngbSlide id="1">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide"
        style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        <div class="container m-5" id="slide">
          <div class="row" id="row inicial">
            <div class="col-auto" id="icone da tribo, titulo e sub-titulo">
              <div class="row mt-4" style="height: 150px;">
                <img class="col-auto logo" src="../../../../../assets/images/Ícone 1.svg" alt="logo da tribo"/>
                <div class="col-auto">
                  <h1 class="titulo">tribo do teste</h1>
                  <p class="sub-titulo">TEXTINHO Q DESCREVE A TRIBO</p>
                </div>
              </div>
            </div>
            <div class="col"></div>
            <div class="w-100"></div>
            <div class="col" id="descricao">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
            <div class="col margem">
              <h2 class="habilidades">Habilidades</h2>
              <ul class="itens mt-3 list-unstyled" id="lista de habilidades">
                <li class="mt-3">
                  Lógica de programação I: Primeiros programas com JavaScript
                </li>
                <li class="mt-3">
                  Lógica de programação II: Pratique com desenhos e animações
                </li>
                <li class="mt-3">
                  Jogos clássicos parte 1: Iniciando no JavaScript com Pong
                </li>
                <li class="mt-3">
                  Jogos clássicos parte 2: Laços e listas com JavaScript
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="2">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide"
        style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 2
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="3">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide"
        style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 3
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="4">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide"
        style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 4
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="5">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide"
        style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 5
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="6">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide"
        style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 6
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="7">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide"
        style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 7
      </section>
    </div>
  </ng-template>
</ngb-carousel>