<p>
  carousel-tribes works!
</p>


 <div id="carouselExampleIndicators" class="carousel slide carrossel" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">

      <div class="carousel-item active">

            <div class="container">
              <div class="row">
                <div class="col-4 coluna-1">
                  <img class="d-block w-100 imagem-carrossel" src="\assets\images\icons\icone-2.svg" alt="Primeiro Slide">
                  <h4 class="texto-tribos">Tribo da Fronteira</h4>
                  <h5 class="sub-titulo">ESPECIALISTAS EM FRONT END - MARCAÇÃO DE ESTILO</h5>

                </div>
                <div class="col">
                  <h3></h3>
                </div>
              </div>
          </div>

          <div class="carousel-item tribo-da-fronteira imagem-carrossel">
            <img class="d-block w-100" src="\assets\images\icons\icone-1.svg" alt="Segundo Slide">
          </div>

          <div class="carousel-item imagem-carrossel">
            <img class="d-block w-100" src="\assets\images\icons\icone-3.svg" alt="Terceiro Slide">
          </div>

      </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
    </div>
</div>





