<ngb-carousel class="container mb-4">
  <ng-template ngbSlide id="1">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide" style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 1
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="2">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide" style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 2
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="3">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide" style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 3
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="4">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide" style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 4
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="5">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide" style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 5
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="6">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide" style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 6
      </section>
    </div>
  </ng-template>
  <ng-template ngbSlide id="7">
    <div class="picsum-img-wrapper">
      <section class="d-block w-100" alt="Random first slide" style="height: 500px; width: 800px; background-color: black; border: 1px solid #00ffff;">
        tribo de 7
      </section>
    </div>
  </ng-template>
</ngb-carousel>
