/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: DecoturaICG;
    src: url('/assets/fontes/deconturaICG/decoturaicg-webfont.woff2') format('woff2'),
        url('/assets/fontes/deconturaICG/decoturaicg-webfont.woff') format('woff'),
        url("/assets/fontes/deconturaICG/DecoturaICG.ttf") format("truetype");
    /* o caminho q tava errado kkkkk */
}

@font-face {
    font-family: ErasDemiITC;
    src: url("/assets/fonts/erasDemi/eras-demi-itc.ttf") format("truetype");
}