/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Eras Demi ITC";
    src: url('assets/ErasDemiITC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}