footer {
    background-color: #001228 ;
    }
    .copyright{
    font-size:14pt ; 
    font-family: "Eras Medium itc" ;
    color: #ffffff; 
    text-align:right ;
    
    }
    .logo{
    text-align:left  ;
    margin:20px 0 0;
    }