footer  {
    background-color: #001228 ;
    padding: 2em 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-fim{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    }
.copyright{
    font-size:12pt ; 
    font-family: "Era" ;
    color: #ffffff; 
    text-align: right;
    margin: 0;
    margin-right: 3em;
    }
.logo{
    margin: 0;
    margin-left: 3em;
    }